<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>书籍管理</title>
    <meta
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
      name="viewport"
    />
    <link
      href="http://cn-zz-bgp.sakurafrp.com:10341/group1/logo/logo.jpg"
      rel="icon"
      type="image/x-icon"
    />
    <link
      href="http://cn-zz-bgp.sakurafrp.com:10341/group1/logo/logo.jpg"
      rel="shortcut icon"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css" />
    <link
      rel="stylesheet"
      href="../plugins/adminLTE/css/skins/_all-skins.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../plugins/layui/css/layui.css" />
    <script src="../plugins/layui/layui.js"></script>
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/angularjs/angular.min.js"></script>
    <script src="../js/base_pagination.js"></script>
    <script src="../js/controller/baseController.js"></script>
    <script src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css" />
    <script src="../js/service/bookService.js"></script>
    <script src="../js/controller/bookController.js"></script>
  </head>
  <body
    class="hold-transition skin-red sidebar-mini"
    ng-app="bookshopAdmin"
    ng-controller="bookController"
  >
    <!-- .box-body -->
    <div class="box-header with-border">
      <h3 class="box-title">书籍管理</h3>
    </div>

    <div class="box-body">
      <!-- 数据表格 -->
      <div class="table-box">
        <!--工具栏-->
        <div class="pull-left">
          <div class="form-group form-inline">
            <div class="btn-group">
              <button
                type="button"
                ng-click="delete()"
                class="btn btn-default"
                title="删除"
              >
                <i class="fa fa-trash-o"></i> 删除
              </button>
              <button
                type="button"
                class="btn btn-default"
                title="刷新"
                onclick="window.location.reload();"
              >
                <i class="fa fa-refresh"></i> 刷新
              </button>
            </div>
          </div>
        </div>
        <div class="box-tools pull-right">
          <div class="has-feedback">
            书籍名称:<input ng-model="searchEntity.name" />
            <button class="btn btn-default" ng-click="reloadList()">
              查询
            </button>
          </div>
        </div>
        <!--工具栏/-->

        <!--数据列表-->
        <table
          id="dataList"
          class="table table-bordered table-striped table-hover dataTable"
        >
          <thead>
            <tr>
              <th class="" style="padding-right: 0px;">
                <input
                  id="selall"
                  ng-click="selectAll($event)"
                  type="checkbox"
                  class="icheckbox_square-blue"
                  ng-model="allSelect"
                />
              </th>
              <th class="sorting_asc">图书名称</th>
              <th class="sorting">书籍分类</th>
              <th class="sorting">作者</th>
              <th class="sorting">出版社</th>
              <th class="sorting">状态</th>
              <th class="text-center">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="entity in list">
              <td>
                <input
                  type="checkbox"
                  ng-click="updateSelection($event,entity.id)"
                  ng-model="entity.select"
                />
              </td>
              <td>{{entity.name}}</td>
              <td>{{entity.category}}</td>
              <td>{{entity.author}}</td>
              <td>{{entity.press}}</td>
              <td>{{entity.bookType == 1 ? '在售':'已售'}}</td>
              <td class="text-center">
                <button
                  type="button"
                  class="btn bg-olive btn-xs"
                  ng-click="findOne(entity.id)"
                  data-toggle="modal"
                  data-target="#editModal"
                >
                  详细
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!--数据列表/-->
        <tm-pagination conf="paginationConf"></tm-pagination>
      </div>
      <!-- 数据表格 /-->
    </div>
    <!-- /.box-body -->

    <!-- 编辑窗口 -->
    <div
      class="modal fade"
      id="editModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content" style="bottom: 100px;">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              ×
            </button>
            <h3 id="myModalLabel">详细信息</h3>
          </div>
          <div class="modal-body">
            <table class="table table-bordered table-striped" width="800px">
              <tr>
                <td>图书名称</td>
                <td>{{entity.name}}</td>
              </tr>
              <tr>
                <td>作者</td>
                <td>{{entity.author}}</td>
              </tr>
              <tr>
                <td>出版社</td>
                <td>{{entity.press}}</td>
              </tr>
              <tr>
                <td>印刷版本</td>
                <td>{{entity.version}}</td>
              </tr>
              <tr>
                <td>出版时间</td>
                <td>{{entity.publishDate}}</td>
              </tr>
              <tr>
                <td>书籍描述</td>
                <td>{{entity.description}}</td>
              </tr>
              <tr>
                <td>品相</td>
                <td>{{entity.degree}}成新</td>
              </tr>
              <tr>
                <td>上传者</td>
                <td>{{entity.username}}</td>
              </tr>
              <tr>
                <td>图书图片</td>
                <td>
                  <table>
                    <tr>
                      <td>
                        <img
                          ng-src="{{entity.image}}"
                          width="100px"
                          height="100px"
                        />
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-default"
              data-dismiss="modal"
              aria-hidden="true"
            >
              关闭
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
